/*! Author: Raphael Nepomuceno <raphael@nepomuceno.dev> */
body,
html {
  width: 100%;
  height: 100%;
}

/* Grid */
#grid {
  display: grid;
  padding: 5vmin;
  width: 90vh;
  height: 90vh;
  margin: 0 auto;
  grid-gap: 1rem;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
}
#grid div {
  border: 2px solid black;
  border-radius: 2px;
}
